html
 head 
  title Sample
  style(src='/css/general.css')
 body
  sample-container
   ul
    li.a(class="active" href="#home") Home
    li.a(href="#blog") Blog
    li.a(href="#contact") Contact
    li.a(href="#about") About
  sample-wrapper
   p Content
